
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_navbarAndFooter.cshtml";
}

<style>

    .child {
        display: inline-block;
        margin: 5px;
        padding: 10px;
        width: 30%;
        height: 400px;
        background: orangered;
        gap: 20px;
        grid-row-gap: 50%;
        border-radius: 12px;
    }
</style>



<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url('images/bg_1.jpg'); height:250px" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Choose <br>Your Categories</h1>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />



<br />
<br />
<div class="container" style="margin-left:13%">
    <div class="row">
        <div class="col-md-5">
            <div class="property-wrap ftco-animate">
                <a href="properties-single.html" class="img" style="background-image: url(images/villas.jpg); background-repeat: no-repeat; background-size: cover"></a>
                <div class="text">
                    <a href="https://localhost:44310/Master/properity">  <h2 class="price" style="text-align: center; color: #b22222;">Villas</h2></a>

                    <a href="properity" class="d-flex align-items-center justify-content-center btn-custom">
                        <span class="ion-ios-link"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="property-wrap ftco-animate">
                <a href="properties-single.html" class="img" style="background-image: url(images/apartment.jpg);"></a>
                <div class="text">
                    <a href="">  <h2 class="price" style="text-align: center; color: #b22222;">Apartments</h2></a>

                    <a href="properties-single.html" class="d-flex align-items-center justify-content-center btn-custom">
                        <span class="ion-ios-link"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="property-wrap ftco-animate">
                <a href="properties-single.html" class="img" style="background-image: url(images/single.jpg); "></a>
                <div class="text">
                    <a href="">   <h2 class="price" style="text-align: center; color: #b22222;">Single House</h2></a>

                    <a href="properties-single.html" class="d-flex align-items-center justify-content-center btn-custom">
                        <span class="ion-ios-link"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="property-wrap ftco-animate">
                <a href="properties-single.html" class="img" style="background-image: url(images/sea.jpg);"></a>
                <div class="text">
                    <a href="">  <h2 class="price" style="text-align: center; color: #b22222;">Houses on Sea</h2></a>

                    <a href="properties-single.html" class="d-flex align-items-center justify-content-center btn-custom">
                        <span class="ion-ios-link"></span>
                    </a>
                </div>
            </div>
        </div>





    </div>

</div>


<br />
<br />
<br />