
@{
    ViewBag.Title = "PayBuyer";
    Layout = "~/Views/Shared/_navbarAndFooter.cshtml";
}


<br />
<br />
<br />
<br />
<br />
<br />
<style>
    body {
        background: #f5f5f5
    }

    .rounded {
        border-radius: 1rem
    }

    .nav-pills .nav-link {
        color: #555
    }

        .nav-pills .nav-link.active {
            color: white
        }

    input[type="radio"] {
        margin-right: 5px
    }

    .bold {
        font-weight: bold
    }

    .pay {
        width: 60% !important;
    }
</style>

<!-- For demo purpose -->
<div class="row mb-4 ">
    <div class="col-lg-8 mx-auto text-center">
        <h1 class="display-6" style="font-size:1.2rem">You must pay 50 JD to see a Buyer Phone Number</h1>
    </div>
</div> <!-- End -->
<div class="col-lg-6 mx-auto pay">
    <div class="card ">
        <div class="card-header">
            <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">


                <div id="smart-button-container">
                    <div style="text-align: center;">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
                <script src="https://www.paypal.com/sdk/js?client-id=AYOPFmJHKEp34Obn8Gp5EJhzo8qOotnJl2Y6lj3E72wh3UcV-V-gVaGPkM-bR-XvEfuvN5ZhSeOgZk6R&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
                <script>
                    function initPayPalButton() {
                        paypal.Buttons({
                            style: {
                                shape: 'rect',
                                color: 'black',
                                layout: 'vertical',
                                label: 'paypal',

                            },

                            createOrder: function (data, actions) {
                                return actions.order.create({
                                    purchase_units: [{ "amount": { "currency_code": "USD", "value": 10 } }]
                                });
                            },

                            onApprove: function (data, actions) {
                                return actions.order.capture().then(function (orderData) {

                                    // Full available details
                                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                                    // Show a success message within this page, e.g.
                                    const element = document.getElementById('paypal-button-container');
                                    element.innerHTML = '';
                                    element.innerHTML = '<h3>Thank you for your payment!</h3>';

                                    // Or go to another URL:  actions.redirect('thank_you.html');

                                });
                            },

                            onError: function (err) {
                                console.log(err);
                            }
                        }).render('#paypal-button-container');
                    }
                    initPayPalButton();
                </script>


            </div>
            <p class="text-muted">Note: If you cancel the reservation or do not show up, you will not be able to get the money back</p>
            <!-- End -->
        </div>

    </div>
</div>

<a href="Singleproperity">buyer</a>

<br />
<a href="ProfileUSer">seller</a>

<br />
<br />
<br />